html,
body {
  height: 100vh;
}

body {
  padding: 0.25em;
  margin: 0;
  overflow: auto;
  background-color: antiquewhite;
  box-sizing: border-box;
}

main {
  position: absolute;
  inset: 0.5em;

  & > .mask {
    position: absolute;
    background-color: aliceblue;
    height: 0.25em;
    inset: calc(1.75em - 1px) 0.25em auto;
    z-index: 1;
  }
}

details {
  float: left;
  margin-left: 0.25em;

  & > summary {
    box-sizing: border-box;
    padding: 0.125em 0.5em 0.375em;
    margin-right: 2px;
    background-color: lightgrey;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 0.25em 0.25em 0 0;
    list-style: none;

    &:hover {
      background-color: black;
      color: white;
    }
    &:focus,
    &:active {
      background-color: white;
      color: black;
    }
  }

  &[open] > summary {
    padding: 0.25em 0.5em;
    background-color: aliceblue;
    border-bottom-color: aliceblue;
    z-index: 1;
    position: relative;
    cursor: unset;
    font-weight: bold;
  }
}

section {
  box-sizing: border-box;
  position: absolute;
  inset: calc(1.75em - 1px) 0 0 0;
  padding: 0.5em;
  background-color: #eee;
  border-width: 0.5em;
  border-radius: 0.25em;
  border-color: aliceblue;
  border-style: outset;
  outline: 1px solid black;
  overflow: auto;
}

a {
  display: inline-block;
  box-sizing: border-box;
  width: 120px;
  height: 48px;
  margin: 0.5em;
  background-color: #fff;
  background-image: url('./Images/QuickLinks.png');
  position: relative;
  border-radius: 6px;
  box-shadow: 0.5em 0.5em 0.75em #ddd, -0.5em -0.5em 0.75em #fff;

  &,
  &:link,
  &:visited,
  &:hover {
    color: #000;
    text-decoration: none;
  }

  &[title] {
    display: inline-grid;
    place-content: center;
    background-image: url('./Images/Home.png');
    background-position: -48px 0;
    background-repeat: no-repeat;
    vertical-align: bottom;

    &::after {
      content: attr(title);
      text-align: center;
      font-weight: bold;
    }
  }
}
